.header-height-fix {
  @apply h-[100px];
}
.header {
  @apply fixed left-0 w-full top-0 z-50 bg-racing-black transition-all duration-500;

  &-sticky {
    @apply shadow-[0_2px_8px_rgba(0,50,100,0.2)];
  }

  &.unpinned {
    @apply -translate-y-full;
  }
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between container-xl;
  padding: 5px 0;
  padding-left: 0;
}

.navbar-brand {
  @apply text-xl font-semibold text-white;
  margin-left: 0;
  padding-left: 0;
  image {
    @apply h-[40px] w-auto object-contain;
  }
}

.navbar-nav {
  @apply text-center md:text-left flex-[0_0_100%] lg:flex-auto;
}

.nav-item {
  @apply mx-3;
}

.nav-link {
  @apply p-3 text-[1rem] font-medium text-white transition hover:text-racing-gold lg:py-4 xl:px-3;

  &.active {
    @apply text-racing-gold;
  }
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-racing-dark px-2.5 w-[220px] lg:shadow-sm border border-racing-navy;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply min-w-[150px] py-2.5 text-sm font-medium text-white transition lg:hover:text-racing-gold whitespace-nowrap lg:hover:bg-racing-navy/20 px-4 rounded-lg;
  
  &.active {
    @apply lg:bg-racing-navy/20 text-racing-gold;
  }
}

// search style
.search-icon {
  @apply cursor-pointer p-2 text-xl text-white hover:text-racing-gold;
}
.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-racing-dark opacity-0 transition md:h-full;
  .form-input {
    @apply h-full w-full border-0 text-lg text-white bg-racing-dark;
  }
  .search-close {
    @apply absolute top-1/2 right-2 -translate-y-1/2 p-3 text-h4 text-white hover:text-racing-gold;
  }
  &.open {
    @apply visible opacity-100;
  }
}
